@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #404058;
    --laranja: #F25836;
    --cinza: #E5E5E5;
    --azul: #1C71A7;
    --azul-escuro: #2A2A43;
    --hover: #cf4a2d;
}

body{
    display: flex;
    background-color: var(--cor-principal);
    overflow-x: hidden;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 950px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.vector-right img{
    position: absolute;
    height: 266px;
    top: 60%;
    right: -122px;
}

.vector-left img{
    position: absolute;
    top: 22%;
    height: 543px;
}

.titulo-principal {
    color: var(--cinza);
    font-family: "Righteous";
    font-size: 70px;
    width: 500px;
    margin-top: 105px;
}

.titulo-principal span{
    color: var(--laranja);
}

figcaption{
    color: var(--cinza);
    font-family: "Raleway";
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-top: -35px;
}

.img-principal{
    align-items: center;
    width:0 auto;
}

.img-principal img{
    height: 370px;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 125px;
}

#btn {
    font-family: 'Raleway';
    border: none;
    border-inline: none;
    cursor: pointer;
    border-radius: 50px;
    width: 280px;
    height: 50px;
    background-color: var(--laranja);
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    box-shadow: 5px 9px 16px 0px #00000040;
}

#btn:hover{
    background-color: var(--hover);
}