@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Righteous&display=swap");

label {
  font-family: "Righteous";
  font-weight: 500;
  font-size: 30px;
  color: var(--cinza);

  margin-bottom: 5px;
}

.input-nome-email {
  display: flex;
  flex-direction: column;
}

.label-email {
  margin-top: 35px;
}

.input-texto {
  font-family: "Righteous";
  font-weight: normal;
  font-size: 18px;
  background-color: var(--cor-principal);
  color: var(--cinza);

  width: 400px;
  height: 6vh;

  margin-left: -15px;
  padding: 15px;

  border-radius: 20px;
  border-color: var(--laranja);
  box-shadow: 0px 0px 8px var(--laranja);
}

.input-texto::placeholder {
  color: #e5e5e5a1;
  font-family: "Raleway";
  font-weight: normal;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn-input {
  font-family: "Raleway";
  border: none;
  border-inline: none;
  cursor: pointer;
  border-radius: 50px;
  width: 280px;
  height: 50px;
  background-color: var(--laranja);
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  box-shadow: 5px 9px 16px 0px #00000040;

  margin: 0px 18px 0px 18px;
}

.btn-input:hover {
  background-color: var(--hover);
}
